.body{
    background: #CDCDCD;
}

#img {
    width: 380px;
    height: 480px;
    border:8px solid black;
    position: absolute;
    left: 1100px;
    top: 300px;
}

.nav {
    display: flex;
    list-style-type: none;
    font-size: 40px;
    position: absolute;
    left: 850px;
    top: 220px;
}

#button1 {
    margin-left: 20px;
    font-family: arial;
    background-color: rgb(107, 100, 100);
    width: 150px;
    font-weight: bold;
    border-radius: 15px;
}

#button2 {
    margin-left: 100px;
    font-family: arial;
    background-color: rgb(107, 100, 100);
    width: 150px;
    font-weight: bold;
    border-radius: 15px;
}

#button3 {
    margin-left: 100px;
    font-family: arial;
    background-color: rgb(107, 100, 100);
    width: 150px;
    font-weight: bold;
    border-radius: 15px;
}

#button4 {
    margin-left: 100px;
    font-family: arial;
    background-color: rgb(107, 100, 100);
    width: 150px;
    font-weight: bold;
    border-radius: 15px;
}

#button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#button4:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.p1 {
    font-family: arial;
    font-size: 40px;
    position: absolute;
    left: 150px;
    top: 800px;
    font-weight: bold;
    color:black
}

#title{
    font-family: cursive;
    font-size: 100px;
    position: absolute;
    left: 1100px;
    font-weight: bold;
    color:rgb(29, 24, 24)
}

.about{
    font-family: arial;
    font-size: 25px;
    position: absolute;
    font-weight: bold;
    color: black;
    border: 6px solid black;
    padding:15px;
}

.contact {
    font-family: arial;
    color: indigo;
    font-weight: bold;
}



